body
{
	background-image: url(background_image.jpeg);
  	background-size: cover;
}
 h1 
 {
 	text-align: center;
 	color: green;
 	font-size: 500%;
 	margin-top: 150px;
}
.btn-success
{
	 margin-top: 50px;
	 margin-left: 670px;
	 padding: 20px 30px;
	 font-size: 20px;
}
